* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-color: cadetblue;
}

h1 {
    color: rgb(63, 63, 63);
    text-align: center;
    margin-top: 70px;
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
}